.kwcClass {
    .kwcBem__listItem {
        width: 100%;
        visibility: hidden;
        position: absolute;
        top: 0;

        &:first-child {
            position: static;
            visibility: visible;
            top: auto;
        }
    }
}
