{% block slideContainer %}
<div class="{{ rootElementClass }}" data-config="{{ config|json_encode }}">
    {% block beforeList %}{% endblock %}
        {% for item in listItems %}
        <div class="{{ item.class }}">
            {{ renderer.component(item.data) }}
        </div>
        {% endfor %}
    {% block afterList %}{% endblock %}
</div>
{% endblock %}
